<div class="contextual">
    <a class="icon icon-add" href="<%= new_admin_project_path %>">New project</a> <!-- |
    <a href="/issues">View all issues</a> |
    <a href="/time_entries">Overall spent time</a> |
    <a href="/activity">Overall activity</a-->
</div>
<h2>Projects</h2>
